<form class="tester-matching-form">
  <mat-form-field class="example-full-width">
    <mat-label>Country</mat-label>
    <input type="text"
           placeholder="Pick country"
           matInput
           [formControl]="countryFormControl"
           [matAutocomplete]="auto1">
    <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
      <mat-option *ngFor="let optionCountry of filteredOptionsCountry | async" [value]="optionCountry">
        {{optionCountry}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Device</mat-label>
    <input type="text"
           placeholder="Pick device"
           matInput
           [formControl]="deviceFormControl"
           [matAutocomplete]="auto2">
    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
      <mat-option *ngFor="let optionDevice of filteredOptionsDevices | async" [value]="optionDevice">
        {{optionDevice}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-list>
    <div mat-subheader>Country rules list</div>
    <mat-list-item *ngFor="let countryRule of countriesRules">
      <mat-icon mat-list-icon>public</mat-icon>
      <div mat-line>{{countryRule}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Device rules list</div>
    <mat-list-item *ngFor="let deviceRule of devicesRules">
      <mat-icon mat-list-icon>laptop_mac</mat-icon>
      <div mat-line>{{deviceRule}}</div>
    </mat-list-item>
  </mat-list>
</form>
